/*
 * Want to change this website's styes? Learn more about CSS:
 * https://developer.mozilla.org/en-US/docs/Learn/CSS/Introduction_to_CSS
 */

@font-face {
  font-family: "junegull";
  src: url("fonts/junegull.ttf");
}

body {
  padding: 0;
  background: #fff9f1;
  font-family: "junegull";
}

a {
  color: #77a28b;
}

a:hover { color: #a26f57; }

.imgbox {
   display: grid;
   height: 100%;
}

.imgbox2 {
   display: grid;
   height: 50%;
   padding-top: 110px;
   margin: 0 auto;
}

.center-fit {
  max-width: 70%;
  max-height: 60vh;
  margin: 0 auto;
}

.center-large {
  max-width: 100%;
  margin: 0 auto;
}

.center-text {
  text-align: center;
}

h1 {
  font-size: 80px;
  color: #863534;
}

h2 {
  font-size: 60px;
  color: #8b7e9c;
}

h3 {
  font-size: 28px;
}

ul {
  padding: 10px;
}

#Television.h2 {
    color: #fee2a1;
}
